:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #FFD073;
}


h1 {
  font-size: 2.5em; 
  color: #ffcc00; 
  margin-bottom: 1rem;
 
}

a {
  display: inline-block; 
  margin: 0.5rem 0; 
  padding: 0.5em 1em; 
  color: #FFBF40; 
  background-color: #1a1a1a; 
  border-radius: 8px; 
  transition: background-color 0.25s, color 0.25s, transform 0.25s; 
}

a:hover {
  background-color: #ffcc00; 
  color: #1a1a1a; 
  transform: translateY(-2px);
}