html, body {
  height: 100%; 
  margin: 0; 
  overflow: hidden; 
}

.background {
  background-image: url('../styles/images/HPFNds2htf4.jpg');  
  background-size: cover; 
  background-position: bottom; 
   justify-content: space-between; 
  height:150vh; 
  width: 100vw; 
  
  display: flex;
  flex-direction: column;
   justify-content: flex-start; 
  align-items: center; 
}
