form {
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #1a1a1a; 
  color: #ffcc00;
 
}

h2 {
  text-align: center; 
  color: #ffcc00;
}

label {
  display: block; 
  margin-bottom: 10px; 
  font-weight: bold; 
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #434a4a; 
  border-radius: 4px; 
  box-sizing: border-box; 
}


button {
  background-color: #434a4a; 
  color: #1a1a1a; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
  display: block; 
  margin: 0 auto; 
}

button:hover {
  background-color: #ffcc00; 
}


table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px; 
}

th, td {
  padding: 10px; 
  border: 1px solid #434a4a; 
  text-align: left; 
}

th {
  background-color: #1a1a1a; 
  font-weight: bold; 
}

tbody tr:nth-child(even) {
  background-color: #1a1a1a; 
}
